<!DOCTYPE html>
<html>
<head>
    <title>Añadir Comida</title>
</head>
<body>
    <h1>Añadir Comida</h1>
    <form method="POST">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="calories">Calorías:</label><br>
        <input type="number" id="calories" name="calories"><br>
        <label for="protein">Proteínas (g):</label><br>
        <input type="number" step="any" id="protein" name="protein"><br>
        <label for="carbs">Carbohidratos (g):</label><br>
        <input type="number" step="any" id="carbs" name="carbs"><br>
        <label for="fat">Grasas (g):</label><br>
        <input type="number" step="any" id="fat" name="fat"><br>
        <button type="submit">Añadir Comida</button>
    </form>
</body>
</html>
